@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeueRegular.eot');
    src: local('Bebas Neue Regular'), local('BebasNeueRegular'), url('../fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeueRegular.woff2') format('woff2'), url('../fonts/BebasNeueRegular.woff') format('woff'), url('../fonts/BebasNeueRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeueLight.eot');
    src: local('Bebas Neue Light'), local('BebasNeueLight'), url('../fonts/BebasNeueLight.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeueLight.woff2') format('woff2'), url('../fonts/BebasNeueLight.woff') format('woff'), url('../fonts/BebasNeueLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    background: none;
    outline: none;
}

body {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.header {
    background-color: #635854;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 4px solid #3596F5;
}

.navbar {
    max-width: 1280px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    color: #FFFFFF
}

.navbar-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.navbar-item {
    margin-left: 40px;
    list-style: none;
    font-size: 16px;
}

.navbar-link {
    text-decoration: none;
    color: #FFFFFF
}

.navbar-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.navbar-text {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 16px;
    display: inline-block;
    margin-bottom: 4px;
}

.navbar-phone {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
}

.main {
    max-width: 1280px;
    margin: 0 auto;
    padding: 58px 0 0 0;
    display: flex;
}

.main-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-title {
    font-size: 37px;
    line-height: 44.4px;
    text-align: center;
    text-transform: uppercase;
    color: #635854;
    font-family: 'Bebas Neue';
    font-weight: normal;
}

.home-img path {
    opacity: 0;
    cursor: pointer;
}

.home-img path:hover {
    opacity: 1;
}

.home-img path.current-floor {
    opacity: 1;
}

.counter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.counter-arrow-down {
    transform: rotateX(180deg);
}

.counter-button {
    cursor: pointer;
}

.button-summary {
    font-family: 'Roboto', sans-serif;
    background: #3596F5;
    border-radius: 6px;
    font-size: 16px;
    line-height: 19px;
    padding: 16px 36px;
    color: #FFFFFF;
    cursor: pointer;
}

.counter {
    color: #635854;
    font-size: 124px;
    display: inline-block;
    padding: 20px 0;
}


/* modal */

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.2s ease;
}

.modal.is-open {
    opacity: 1;
    transform: scale(1);
}

.modal-dialog {
    min-height: 565px;
    max-width: 1000px;
    flex-grow: 1;
    background-color: #fff;
    display: flex;
    position: relative;
    opacity: 0;
    transform: translateY(-10%);
    transition: transform 0.2s, opacity 0.2s;
    transition-delay: 0.2s;
}

.is-open>.modal-dialog {
    transform: translateY(0);
    opacity: 1;
}

.modal-img {
    flex-basis: 60%;
    text-align: center;
    padding: 50px;
    background: #C4C4C4;
}

.modal-title {
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.modal-img .modal-title {
    margin-bottom: 27px;
}

.modal-info .modal-title {
    margin-bottom: 50px;
}

.modal-counter {}

.modal-info {
    flex-basis: 40%;
    padding: 50px;
}

.flats path {
    opacity: 0;
}

.flats path.choose-flat {
    opacity: 1;
}

.flat-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flat-item {}

.flat-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #635854;
}

.flat-item .flat-link.choose-flat {
    text-decoration: underline;
    color: blue;
}

.flat-info {
    margin-top: 50px;
    display: inline-block;
    font-size: 16px;
    line-height: 19px;
    font-style: italic;
}

.modal-close {
    color: #3596F5;
    position: absolute;
    right: 24px;
    top: 24px;
    cursor: pointer;
}